body {
    display: flex;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

#sidebar {
    width: 250px;
    background-color: #343a40;
    color: white;
    padding: 15px;
    height: 100vh;
    overflow-y: auto;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

#file-list {
    list-style-type: none;
    padding: 0;
    
}

#file-list li {
    margin-bottom: 10px;
    display: block;
    width: 100%; /* Ensure full width */
    font-size: 12px;
}

#file-list .collapsible {
    background-color: #343a40;
    color: white;
    padding: 10px;
    /*font-size: 12px;*/
    border-radius: 3px;
    border: none;
    text-align: left;
    outline: none;
    width: 100%; /* Ensure full width */
    box-sizing: border-box; /* Include padding and border in the element's width and height */
    white-space: normal; /* Allow text to wrap within the button */
}

#file-list .content {
    display: none;
    padding-left: 20px;
    list-style-type: none;
}

#file-list .active .content {
    display: block;
}

#file-list a {
    text-decoration: none;
    color: #cfd8dc;
    display: block;
    padding: 5px 10px;
    border-radius: 3px;
    margin-bottom: 5px;
    white-space: normal; /* Allow text to wrap */
    word-wrap: break-word; /* Break long words if necessary */
}

#file-list a:hover {
    background-color: #495057;
    color: #ffffff;
}


#content {
    flex: 1;
    padding: 20px;
}

#markdown-content {
    max-width: 800px;
    margin: 0 auto;
}
